[submodule "notes"]
	path = notes
	url = git@github.com:kittywitch/notes.git
[submodule "nixfiles"]
	path = nixfiles
	url = git@github.com:kittywitch/nixfiles.git
[submodule "katgba"]
	path = katgba
	url = git@github.com:kittywitch/katgba.git
[submodule "srcprv"]
	path = prv
	url = git@github.com:kittywitch/srcprv.git
